<!-- Footer Start -->
<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
    <div class="container text-center">
        <div class="grid grid-cols-1">
            <div class="py-[30px] px-0">
                <div class="grid md:grid-cols-2 items-center">
                    <div class="md:text-left text-center">
                        <a href="#"
                            class="text-[22px] focus:outline-none lg:leading-normal leading-normal text-2xl lg:text-3xl font-bold">
                            bastien.chantrel
                        </a>
                    </div>

                    <ul class="list-none footer-list md:text-right text-center mt-6 md:mt-0">
                        <li class="inline mr-3"><a href="index.html"
                                class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Mes projets</a></li>
                        <li class="inline mr-3 mt-[10px]"><a href="parcours.html"
                                class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ml-2">Mon parcours</a>
                        </li>
                        <li class="inline ">
                            <a href="contact.html"
                                class="btn px-4 bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white rounded-md "><i
                                    class="uil uil-envelope"></i> Me contacter</a>
                        </li>

                    </ul>
                    <!--end icon-->
                </div>
                <!--end grid-->
            </div>
        </div>
    </div>
    <!--end container-->

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container text-center">
            <div class="grid grid-cols-1">
                <div class="text-center">
                    <p class="mb-0">©
                        <script>document.write(new Date().getFullYear())</script> Bastien Chantrel
                    </p>
                </div>
            </div>
            <!--end grid-->
        </div>
        <!--end container-->
    </div>
</footer>
<!--end footer-->
<!-- Footer End -->