<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky bg-white dark:bg-slate-900">
    <div class="container flex items-center">
        <!-- Logo container-->
        <!-- <a class="logo" href="index.html">
            <img src="assets/images/logo-dark.png" class="inline-block dark:hidden" alt="">
            <img src="assets/images/logo-light.png" class="hidden dark:inline-block" alt="">
        </a> -->
        <p class="lg:leading-normal leading-normal text-3xl lg:text-4xl font-bold">
            bastien.chantrel
        </p>
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>


        <!--Login button End-->

        <div id="navigation" class="flex-1 ">
            <!-- Navigation Menu-->
            <ul class="navigation-menu flex justify-end">
                <li><a href="index.html" class="sub-menu-item">Mes projets</a></li>
                <li><a href="parcours.html" class="sub-menu-item">Mon parcours</a></li>
            </ul>
            <!--end navigation menu-->
        </div>

        <!--Login button Start-->
        <div class="buy-button list-none mb-0 ">
            <a href="contact.html"
                class="btn flex items-center rounded bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white"><i
                    class="uil uil-envelope mr-2"></i> Me contacter</a>
        </div>
        <!--end navigation-->
    </div>
    <!--end container-->
</nav>
<!--end header-->
<!-- End Navbar -->